.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

.arena___recharge-indicator {
  width: 100%;
  height: 10px;
  margin: 5px 10px 0;
  border: 2px solid;
  border-radius: 10px;
  overflow: hidden;
}

.arena___health-bar,
.arena___recharge-bar {
  height: 100%;
  width: 100%;
  transition: width 0.1s ease-in-out;
}

.arena___health-bar {
  background-color: #ebd759;
}

.arena___recharge-bar {
  background-color: #ff0000;
}

.arena___fighter-defense {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  top: 100%;
  margin-top: 5px;
  opacity: 0;
  filter: drop-shadow(0px 1px 0 black) drop-shadow(1px 1px 0 black) drop-shadow(0px -1px 0 black);
}
