.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  min-width: 250px;
  flex-shrink: 0;
}

.fighter-preview___img {
  object-fit: contain;
  object-position: bottom center;
}

.preview-container___content .fighter-preview___img {
  max-height: 50vh;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___properties {
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #ffdfa7;
  border: 5px solid #ca9650;
  font-family: sans-serif;
}

.fighter-preview___name {
  flex-grow: 1;
}

.fighter-preview___health,
.fighter-preview___attack,
.fighter-preview___defense {
  margin-left: 5px;
  padding-left: 20px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left center;
}

.fighter-preview___health {
  background-image: url('../../resources/heart.png');
}

.fighter-preview___attack {
  background-image: url('../../resources/fire.png');
}

.fighter-preview___defense {
  background-image: url('../../resources/shield.png');
}
