.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  font-family: sans-serif;
}

.modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 5px solid #ca9650;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.modal-body .fighter-preview___img {
  max-height: 65vh;
}

.close-btn {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
